---
---
@charset "UTF-8";

/* Variables */

$text-color: #222;

$talks-background: #333;
$news-background: #ececec;
$footer-background: #f6f6f6;

$column-count: 12;

/* A simple grid system */

// Global reset
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}

/* General style */

html, body {
  height: 100%;
}

main {
  min-height: 100%;
}


body {
  font-size: 14pt;
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
}

a {
  &:link {
    color: #005585;
  }

  &:visited {
    color: #485270;
  }

  &:hover {
    color: #b83800;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

footer {
  @include row();
  height: 210px;
  padding: 20px;
  background: $footer-background;

  font-size: 1em;

  section {
    @include column(1);

    .title {
      font-weight: bold;
      font-size: 0.9em;
      text-transform: uppercase;
    }

    ul {
      margin-top: 8px;
      list-style-type: none;

      li {

        a, a:visited {
          color: gray;
          font-size: 0.8em;
        }
      }
    }
  }

  .info {
    width: 200px;
    padding-left: 30px;

    .copy {
      font-size: 0.8em;
    }
  }

  section:not(.info) {
    margin-left: 70px;
  }
}

/* Home page style */

.home {
  header {
    height: 300px;
    background: #eee;
  }

  // General section style
  section {
    padding: 25px;
    padding-bottom: 55px;

    h1 {
      margin: 25px;
    }
  }
}

.intro {
  margin: 0 auto;
  width: 80%;
}

.talks {
  background: $talks-background;
  color: white;

  .talks-container {
    @include row();
    margin: 0 auto;
    width: 70%;

    .talk {
      @include column(6);
      text-align: center;

      a {
        &:link, &:visited {
          color: #41A6DF !important;
        }
      }

      iframe {
        margin-top: 15px;
        border: 1px solid #ccc;
        border-width: 1px 1px 0;
        margin-bottom: 5px;
      }
    }
  }
}

/* Documentation style */

.tutorial-container {
  @include row();
  width: 80%;
  margin: 0 auto;

  aside {
    @include column(3);
  }

  article {
    @include column(9);
  }
}
