---
---
@charset "UTF-8";

/* Variables */

$text-color: #222;

$talks-background: #333;
$news-background: #ececec;
$footer-background: #f6f6f6;

$column-count: 12;

@import "grid";
@import "global";
@import "home";
@import "docs";
