---
---
@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* Variables */

$text-color: #222;
$link-color: #5DB5DE;

$talks-background: #333;
$news-background: #ececec;
$footer-background: #f6f6f6;

$column-count: 12;

/* A simple grid system */

// Global reset
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}

/* General style */

body {
  font-size: 14pt;
  margin: 0 150px 40px;
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
}

.header {
  .logo, .github-buttons {
    float: left;
  }

  .github-buttons {
    margin: 40px 0 0 20px;
  }
}

h1 {
  font-size: 48pt;
  margin-top: 40px;
  margin-bottom: 0;

  a {
    color: black !important;
    text-decoration: none;
  }
}

h2 {
  font-size: 24pt;
}

.tagline {
  margin: 0.4em auto auto 20px;
  color: #888;
  font-size: 0.9em;
}

a {
  &:link {
    color: #005585;
  }

  &:visited {
    color: #485270;
  }

  &:hover {
    color: #b83800;
  }
}

pre {
  padding: 8px;
  background-color: #eee;
  white-space: pre-wrap;
  font-family: Menlo, 'andale mono', 'lucida console', monospace;
  font-size: 0.9em;
  line-height: 1.6em;
}

#main {
  margin: 0 10px;
}

#footer {
  text-align: center;
  font-size: 0.8em;
  margin: 20px 4px 10px;
  border-top: 1px solid #ccc;
  padding: 4px;

  div {
    display: inline-block;
    width: 250px;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
    width: 80px;
  }

  .right {
    text-align: right;
  }
}

.language {
  position: absolute;
  top: 0;
  right: 150px;
}
