<footer>
  <section class="info">
    <div class="name"><a href="{{ "/" | prepend: site.baseurl }}">Clack</a></div>
    <div class="copy">&copy; 2014 Clack Developers</div>
  </section>
  <section class="project">
    <span class="title">Project</span>
    <ul>
      <li><a href="{{ site.links.repo }}">Repository</a></li>
      <li><a href="{{ site.links.issues }}">Issues</a></li>
      <li><a href="{{ site.links.contrib }}">Contributors</a></li>
      <li><a href="/security">Security</a></li>
    </ul>
  </section>
  <section class="resources">
    <span class="title">Resources</span>
    <ul>
      <li><a href="{{ site.links.api }}">API</a></li>
      <li><a href="{{ "/docs/" | prepend: site.baseurl }}">Documentation</a></li>
      <li><a href="http://www.quicklisp.org/">Quicklisp</a></li>
      <li><a href="{{ site.links.rss | prepend: site.baseurl }}">Blog RSS</a></li>
    </ul>
  </section>
</footer>
