<header class="page-header">
  <div class="logo">
    <h1>Clack</h1>
    <p class="tagline">{{ site.tagline }}</p>
  </div>

  <div class="github-buttons">
    <iframe class="gh-btn"
            src="http://ghbtns.com/github-btn.html?user=fukamachi&repo=clack&type=watch&count=true&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="140" height="30"></iframe>
    <iframe class="gh-btn"
            src="http://ghbtns.com/github-btn.html?user=fukamachi&repo=clack&type=fork&count=true&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="140" height="30"></iframe>
  </div>

  <a href="https://github.com/fukamachi/clack"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</header>
