/* Documentation style */

.doc-header {
  background: $docs-header-background;
  padding: 50px;

  .logo {
    margin-bottom: 25px;

    h1 {
      margin-bottom: 5px;
    }
  }
}

.tutorial-container {
  @include row();
  width: 80%;
  margin: 45px auto;

  aside {
    @include column(3);

    border-right: 1px solid #ccc;
  }

  article {
    @include column(9);
    padding-left: 25px;
  }
}
