<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }} | Tutorial | {{ site.title }}</title>
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="/">Clack</a></h1>
    <p class="tagline">{{ site.tagline }}</p>

    <h2>Chapter {{ page.title | replace: '.', ':'}}</h2>

    <p class="language">
      <strong>English</strong> | <a href="ja/{{ page.url }}">日本語</a>
    </p>

    {{ content }}

    <div id="footer">
      <div class="left">
        {% if page.previous %}
          <a href="{{ page.previous.url }}">&lt;&lt;{{ page.previous.title }}</a>
        {% endif %}
      </div>
      <div class="center"><a href="./">Tutorial</a></div>
      <div class="right">
        {% if page.next %}
          <a href="{{ page.next.url }}">{{ page.next.title }} &gt;&gt;</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
